<%-
  return unless schemata.has_key?('links') && !schemata['links'].empty?

  Prmd::Template::render(File.join('schemata', 'helper.erb'), options[:template], {
    options:         options,
    resource:        resource,
    schema:          schema,
    schemata:        schemata
  })

  title = schemata['title'].split(' - ', 2).last
%>
## <%= title %>
<%= schemata['description'] %>

<%- if schemata['properties'] %>
### Attributes
<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <%- extract_attributes(schema, schemata['properties']).each do |(key, type, description, example)| %>
  <tr>
    <td><strong><%= key %></strong></td>
    <td><em><%= type %></em></td>
    <td><%= description %></td>
    <td><%= example %></td>
  </tr>
  <%- end %>
</table>

<%- end %>
<%- schemata['links'].each do |link, datum| %>
<%=
  Prmd::Template::render(File.join('schemata', 'link.erb'), options[:template], {
    options:         options,
    resource:        resource,
    schema:          schema,
    schemata:        schemata,
    link:            link,
    title:           title
  })
%>
<%- end -%>
